{% extends bigfoot_theme_bundle ~ '::layout_blank.html.twig' %}

{% block content %}
    {{ form_start(form, {'method': form_method, 'action': form_action, 'class': 'form-horizontal' } ) }}
        <div class="row">
            {% block form %}
                {{ form_rest(form) }}
            {% endblock %}
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}